:root {
    --main-bg-color: #000000;
    --main-font-color: #FFFFFF;
    --second-font-color: #D0D403;
    --main-card-color: #a61107;
}

*{
    font-family: 'Anton', sans-serif;
    color: var(--main-font-color);
    /* font-family: 'Quintessential', cursive; */
}


body, html {
    height: 100%;
    margin: 0;
}

ul,li {
    list-style-type: none;
}

.bg58 {
    background-image: url("../../images/bg/bgf2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.ico58 li i{
    font-size: 4vh;
    margin: 0px 5vh 0 0;
}

.ico58 li i:hover{
    color:var(--second-font-color);
}

.logo {
    height: 35vw;
}

@media (max-width: 1000px) {
    .logo {
       display:none;
    }
}

@media (max-width: 280px) {
    .logo {
       display:none;
    }
    .logomobile {
        height: 20vw;
        width: 100%;
     }
}

@media (min-width: 1000px) {
    .logomobile {
       display:none;
    }
}

/* DIVIDER */
.custom-shape-divider-bottom-1644927053 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644927053 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 194px;
}

.custom-shape-divider-bottom-1644927053 .shape-fill {
    fill: #000000;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1644927053 svg {
        width: calc(100% + 1.3px);
        height: 118px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1644927053 svg {
        width: calc(100% + 1.3px);
        height: 86px;
    }
}

/* DIVIDER SOCIAL */
.custom-shape-divider-top-1644926969 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644926969 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 194px;
}

.custom-shape-divider-top-1644926969 .shape-fill {
    fill: #000000;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1644926969 svg {
        width: calc(100% + 1.3px);
        height: 118px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1644926969 svg {
        width: calc(100% + 1.3px);
        height: 86px;
    }
}

/* banner_offerta 1 */
.banner-home {
    max-width:100%;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url("../../images/bg/banner_offerta.png");
}

.banner-home p {
    font-size: 7vw;
    font-family: Anton;
    text-align:center;
    padding-top: 3vw;
    word-spacing: 3vw;
    text-shadow: 0 0 20px rgba(0,28,39,0.8), 0 0 0 black;
    text-transform: uppercase !important;
}

@media (max-width: 1200px) {
    .banner-home p {
        font-size: 10vw;
    }
}

/* Card abbigliamento */

.card {
    height: auto;
    background-color: var(--main-bg-color) !important;
    margin-top: 5vh;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8), 0 0 0 black !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8), 0 0 0 black !important;
    transition: transform 0.5s !important;
}

.card:hover {
    transform: scale(1.1) !important; 
    -webkit-box-shadow: 0 0 20px var(--second-font-color), 0 0 0 var(--second-font-color) !important;
    box-shadow: 0 0 20px var(--main-font-color), 0 0 0 var(--second-font-color)!important;
}


.ns {
    object-fit: cover;
    height: 30rem;
    z-index: 10 !important;
}

.ns1 {
    object-fit: cover;
    height: 27rem;
}

.carousel {
    z-index: 0 !important;
}

.info {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    padding: 2rem;
    width: 100%;
    margin-top: 1rem;
    background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733), transparent);
}

.text h3:nth-child(1) {
    color: var(--second-font-color) !important;
    text-align: center;
    margin-top:9%;
}

.text h5:nth-child(1) {
    color: var(--second-font-color) !important;
    text-align: center;
    margin-top:9%;
}

.ol i{
    position: absolute;
    top:-95%;
    right:10%;
    font-size: 160%;
    background: var(--main-card-color) !important;
    width: 13%;
    height: 20%;
    padding-top:1.5%;
    border-radius: 50%; 
    cursor: pointer;
}

@media (max-width: 1280px) {
    .ol i{
        top: -100%;
        right: 10%;
        width: 20%;
        height: 24%;
        font-size: 203%;
    }
}

@media (max-width: 1200px) {
    .ol i{
        top: -87%;
        right: 10%;
        width: 25%;
        height: 20%;
        font-size: 200%;
    }
}

@media (max-width: 1024px) {
    .ol i{
        top: -87%;
        right: 10%;
        width: 25%;
        height: 20%;
        font-size: 200%;
    }
}

@media (max-width: 990px) {
    .ol i{
        top: -100%;
        right: 10%;
        width: 14%;
        height: 23%;
        font-size: 200%;
    }
}

@media (max-width: 768px) {
    .ol i{
        top: -105%;
        right:10%;
        width: 16%;
        height: 29%;
        font-size: 245%;
    }
}

@media (max-width: 767px) {
    .ol i{
        top: -95%;
        right:10%;
        width: 12%;
        height: 29%;
        font-size: 245%;
    }
}

@media (max-width: 415px ) {
    .ol i{
        top: -105%;
        right:10%;
        width: 16%;
        height: 29%;
        font-size: 245%;
    }
}

@media (max-width: 320px) {
    .ol i{
        top: -115%;
        right: 8%;
        width: 19%;
        height: 25%;
        font-size: 195%;
    }
}

@media (max-width: 280px) {
    .ol i{
        top: -115%;
        right: 8%;
        width: 19%;
        height: 25%;
        font-size: 195%;
    }
}


/* SEZIONE SOCIAL */
.social h1 {
    margin-top:5vh;
    text-transform: uppercase;
    font-size: 6vh;
}

.social a i {
    font-size: 10vh;
}

.social a i:hover {
    color:var(--second-font-color);
}

.indirizzo h1 {
    font-size:7vh;
}

.indirizzo p {
    font-size:2vh;
    margin-bottom:20vh;
}

.table, tr, td, th {
    font-weight: normal;
    font-size:2.5vh;
    border-collapse: collapse !important;
}

.map-responsive {
    width:400vh;
    height:350vh;
    max-width:40vh;
    max-height:30vh;            
}

/* SEZIONE FOOTER */
footer {
    background-color: var(--main-bg-color);
    margin-top: 20vh;
}

footer h1{
    color: var(--second-font-color);
}

footer p:hover{
    color:var(--second-font-color);
}

#margine20 {
    margin-top: 20vh;
    margin-bottom: 20vh;
}

/* MODAL */

.modal-header button{
   background-color: var(--main-card-color)!important;
}

.modal-content {
    border:2px var(--second-font-color) solid !important;
}

.modal-footer button {
    background-color: var(--second-font-color)!important;
    color:var(--main-bg-color) !important;
}

.form-floating label {
    color:var(--main-bg-color);
    margin-left:2vh;
}

/* NAVBAR + MOBILE + DROPDOWN */
.nav-link {
    text-transform: uppercase;
    font-size:2.5vh;
    color:var(--main-font-color) !important;
    border: 2px red solid !important;
}

.nav-link:hover {
    color: var(--second-font-color) !important;
    border: 2px var(--main-font-color) solid !important;
}

.attivo {
    text-transform: uppercase;
    font-size:3vh;
    color: var(--second-font-color) !important;
    border: 2px var(--main-font-color) solid !important;
}

.dropdown-item {
    background-color:var(--main-bg-color);
    color: var(--main-font-color);
}

.dropdown-item:active {
    background-color:var(--main-font-color) !important;
    color: var(--main-bg-color) !important;
}

.dropdown-menu {
    background-color:var(--main-bg-color);
    /* border: 2px red solid; */
}

.closemobile {
    background-color: var(--main-card-color) !important;
}

.offcanvas-body {
    background-image: url("../../images/bg/bgf2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.nav-link {
    background-color: var(--main-bg-color)!important;
}

.icon85 {
    font-size: 4vh;
    float: left !important;
}

@media screen and (min-width: 1000px) {
    .icon85 {
        display: none !important;
    }
}

.icon85:hover, .icon58:active {
    color:var(--second-font-color) !important;
}

@media screen and (min-width: 992px) {
    .closemobile {
        display:none;
    }
}

/* Utente */

.testoUtente {
    text-transform: uppercase !important;
    color: var(--second-font-color) !important;
    font-size:3vh !important;
}
.utente p {
    text-transform: capitalize;
    font-size:2vh;
    word-spacing: 1vh;
}

/* Pagination */
span.page-link {
    background-color: var(--main-card-color) !important;
}

a.page-link {
    color: var(--main-card-color) !important;
}

.page-item>.page-link>span,
.page-item>.page-link>span:active{
    color:black !important ;  
}


.cat-categoria li a{
    color: var(--second-font-color) !important;
    font-size:2vh;
}

.cat-categoria li a:hover{
    color: var(--main-bg-color) !important;
}

.ws {
    word-spacing: 3vh !important;
}

.btn:hover {
    background-color: var(--main-font-color) !important;
    color: var(--main-bg-color) !important;
}

.like, .unlike, .like:hover, .unlike:hover {
    background-color: transparent !important;
}

.t-dettagli {
    color: var(--second-font-color) !important;
    text-transform: uppercase !important;
}

@media (min-width: 992px) {
    .text-cat {
        display:block;
    }

    .text-cat2 {
        display:none;
    }
}


@media (max-width: 992px) {
    .text-cat {
        display:none;
    }

    .text-cat2 {
        display:block;
    }
}


option{
    color:var(--main-font-color) !important;
    background-color: var(--main-bg-color) !important;
    border: 2px var(--second-font-color) solid !important;
}

.t-carrello th{
    color:var(--second-font-color) !important;
    text-transform: uppercase !important;
}

.t-carrello tr {
    text-transform: uppercase !important;
}

.b58 {
    color: var(--main-font-color) !important;
}

.b58:focus, .b58:active {
    outline: none !important;
    box-shadow: none !important;
}

.politiche h3 {
    margin-top:2vh;
    margin-bottom:3vh;
    color: var(--second-font-color) !important;
}

.politiche span {
    font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
}

.politiche ul, .politiche li{
    font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    font-weight: bold;
}

.politiche {
    padding-top:5vh;
    padding-bottom: 5vh;
}

.politiche .spese {
    color:var(--main-font-color) !important;
    text-decoration: underline !important;
    font-weight: bold;
    font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
}

@media(max-width: 1024px){
    .table thead {
        display: none !important;

    }

    .table, .table tbody, .table tr, .table td {
        display: block !important;
        width: 100% !important;
    }

    .table tr{
        margin-top: 3vh !important;
    }

    .table td{
        text-align: right !important;
        padding-left: 50% !important;
        position:relative !important;
    }

    .table td::before{
        content: attr(data-label);
        position: absolute !important;
        left:0 !important;
        width: 50%;
        padding-left: 5vh !important;
        font-size: 3vh !important;
        text-align:left !important;
        
    }
}

.bt-cy {
    background-color: var(--second-font-color) !important;
    color:var(--main-bg-color) !important;
}

.swal2-icon-content {
    color:orange !important;
}

.swal2-styled {
    background-color:green !important;
}

/* radio button tipo di consegna : checked*/
.form-check-input:checked {
    background-color: var(--second-font-color) !important;
    border-color: var(--second-font-color) !important;
}

/* radio button tipo di consegna : checked*/
.form-check-input:focus {
    box-shadow: none !important; 
}

/* input text :focus*/
.form-control:focus {
    border-color: var(--second-font-color) !important;
}

